* {
    box-sizing: border-box;
   
}

.main {
    display: flex;
    overflow: hidden;
}

.main__information {
    font-family: 'Arsenal';
    font-size: 30px;
    padding: 10% 2% 0 2%;
    height: max-content;
}

.main__img-responsive {
    display: none;
}

.main__btn {
    background-color:#4CAF50;
    padding: 15px 30px;
    font-size: 23px;
    font-family: 'Helvetica Neue',Arial,sans-serif;
    color: white;
    text-decoration: none;
    margin-top: 50px;
}

.main--padding {
    padding: 3% 1%;
}
.main__imagine {
    height: 550px;
    width: 700px;
}

h1 {
    font-weight: 2000;
    font-size: 55px;
    margin: 0;
    color: #16720a;
    cursor: default;
}

p {
    cursor: default;
    margin: 10px 0;
    color: #3d3a3a;
    padding-top: 5%;
    padding-bottom: 10%;
}

a:hover {
    color: black;
    background-color: #f0f0f0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px; 
}

@media only screen and (max-width: 1024px) {
    .main {
        padding: 10% 5%;
    }

    h1 {
        font-size: 55px;
    }

    p {
        font-size: 35px;
        padding-bottom: 5%;
    }

    .main__information {
        padding: 4% 3% 0 7%;
    }

    .main__img-responsive {
        display: flex;
        height: 500px;
        width: 550px;
        padding-bottom: 50px;
    }

    .main--padding {
        display: none;
    }

    .main--center {
        text-align: center;
    }


}

@media only screen and (max-width: 667px){

    .main {
        padding-left: 3%;

    }

    .main__information {
        padding: 5% 1% 0 1%;
    }

    h1 {
        font-size: 45px;
    }

    p {
        font-size: 25px;
    }

    .main__img-responsive {
        display: flex;
        height: 300px;
        width: 350px;
        padding-bottom: 50px;
    }

   

    .main--padding {
        display: none;
    }

    .main__btn {
        margin-top: 50px;
    }

    .main--center {
        text-align: center;
    }
}

