* {
    box-sizing: border-box;   
}

/* body {
    overflow: hidden;
} */

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0% 1%;
    
    position: relative;
}

.main__information {
    font-family: 'Arsenal';
    font-size: 30px;
    padding: 15% 6% 0 6%;
    height: max-content;
}

.main__img-responsive {
    display: none;
}

.main__btn {
    background-color:#4CAF50;
    padding: 15px 30px;
    font-size: 23px;
    font-family: 'Helvetica Neue',Arial,sans-serif;
    color: white;
    text-decoration: none;
    margin-top: 50px;
}


.main__imagine {
    height: 550px;
    width: 700px;
}

h1 {
    font-weight: 2000;
    font-size: 55px;
    margin: 0;
    color: #16720a;
    cursor: default;
}

p {
    cursor: default;
    margin: 10px 0 ;
    color: #3d3a3a;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 2rem;
}

.login {
    font-size: large;
}

  .login h3 {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #3d3a3a;
  }
  
  .google-btn {
    width: 190px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  
  .google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
  }
  
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: white;
  }
  
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  
  .btn-text {
    font-family: Roboto,arial,sans-serif;
    float: right;
    margin: 11px 11px 0 0;
    color: white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: 500;
    text-decoration: none;
  }
  

@media only screen and (max-width: 1024px) {
    .main {
        padding: 10% 5%;
    }

    h1 {
        font-size: 55px;
        text-align: center;
    }

    p {
        font-size: 35px;
        padding-bottom: 5%;
    }

    .main__information {
        padding: 4% 3% 0 7%;
    }

    .main__img-responsive {
        display: flex;
        height: 500px;
        width: 550px;
        padding-bottom: 50px;
    }

    .main--padding {
        display: none;
    }

    .main--center {
        text-align: center;
    }

    .login h3 {
        text-align: center;
    }

    .google-btn {
        margin-right: auto;
        margin-left: auto;
    }


}

@media only screen and (max-width: 667px){

    .main {
        padding-left: 3%;
    }

    .main__information {
        padding: 5% 1% 0 1%;
    }

    h1 {
        font-size: 45px;
        text-align: center;
    }

    p {
        font-size: 25px;
        text-align: center;
    }

    .main__img-responsive {
        display: flex;
        height: 300px;
        width: 350px;
        padding-bottom: 50px;
    }

   

    .main--padding {
        display: none;
    }

    .main__btn {
        margin-top: 50px;
    }

    .main--center {
        text-align: center;
    }

    .login h3 {
        text-align: center;
    }

    .google-btn {
        margin-left: auto;
        margin-right: auto;
    }
}

