.singlepost__content {
  padding: 2rem 2rem 2rem 3rem;
  display: flex;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
}

.singlepost__wrapper {
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgba(0, 0, 0, .5); */
  padding: 1.2rem 1rem;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 1rem;
}

.header__title {
  width: fit-content;
  max-width: 85%;
  font-size: 2.3em;
  text-align: center;
  font-weight: 650;
  color: #16720a;
  cursor: default;
  margin: 0 auto 1rem auto;
}

.header__author span:first-child,
.header__date span:first-child,
.blog-post__rate span:first-child {
  font-size: 1.1em;
  font-weight: 600;
  color: #000;
}

.header__author span:nth-child(2),
.header__date span:nth-child(2),
.blog-post__rate span:nth-child(2) {
  font-size: 1.1em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.blog-post__rate {
  position: unset;
  left: 0;
  top: 0;
}

.blog-post__icon {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  top: 2.5%;
  right: 2%;
}

.blog-post__icon a {
  opacity: .5;
  transition: 300ms;
  margin-bottom: 10px;
  cursor: pointer;
}

.blog-post__icon a:hover {
  opacity: 1;
}

.blog-post__icon img {
  width: 30px;
  height: 30px;
  margin-right: 10px; 
}

.post__body {
  margin: 1rem 0;
}

.post__body img {
  width: 100%;
  height: auto;
}

.post__body p {
  margin-bottom: 0.7rem;
}

.joinButton {
  margin-right: 2rem;
  display: none;
}

.showlistButton {
  display: none;
}

.rateButton {
  display: none;
}

.btn {
  transition: 50ms;
}

.joinButton:focus {
  box-shadow: none;
}

.disabledButton {
  background-color: #6c757d;
  outline: none;
  border: none;
}

.disabledButton:focus,
.disabledButton:hover,
.disabledButton:active {
  box-shadow: none;
  background-color: #6c757d;
}

.disabledButton:not(:disabled):not(.disabled):active {
  background-color: #6c757d;
  box-shadow: none;
  border-color: none;
}

.disabledButton:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

.deleteButton {
  display: none;
}

/* Comment section */
.comment__section {
  margin-top: 20px;
}

.comment__wrapper {
  padding: 0 1rem 1rem 1rem;
  /* border: 1px solid #6c757d; */
  border-radius: 5px;
}

.comment__box {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: .7rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  
}

.comment__rate {
  margin-left: auto;
  display: flex;
}

.comment__rate span {
  font-weight: 500 !important;
  color: rgba(0, 0, 0, 0.5) !important;
  margin-right: 2px;
}

.loadmore-button__wrapper {
  display: flex;
  justify-content: center;
}

.loadmore-button {
  cursor: pointer;
  width: fit-content;
  color: #007bff;
  transition: 300ms;
}

.loadmore-button:hover {
  color:#6c5ce7;
}

/* End comment section */

/*-------------------- SMALL DEVICES ----------------*/
@media (max-width: 991.98px) {
  .homepage__side {
    display: none;
  }

  .singlepost__content {
    padding: 2rem 1rem 2rem 1rem;
    flex-direction: column;
  }

  .header__title {
    font-size: 1.4em;
    max-width: 70%;
  }

  .blog-post__icon {
    top: 3%;
    right: 5%;
  }

  .interactMenu {
    min-width: 7rem;
    left: -1.7rem !important;
  }

  .interactMenu .dropdown-item {
    width: 70%;
  }

  .blog-post__icon a {
    margin-bottom: 0;
  }

  .blog-post__icon img {
    width: 20px;
    height: 20px;
  }
}
